<div class="block-myoverview block-cards" data-region="myoverview" role="navigation" data-init="true">
    <div class="container-fluid p-0">
        <div class="card-deck dashboard-card-deck "role="list">
           {{#modules}}
             {{> block_custommodules/dashboard-module-card}}
           {{/modules}}
        </div>
    </div>
</div>